doctype html
html
  head
    title electricity site
    //- block scripts
    //- block style
  body
    nav#navbar
        ul
            div#logo
                //- img(src='static/glamorous-lady-dancing-clipart-xl.png')
                //- | YDA
            li #[a(href="/customerLoginPage") Customer] 
            li #[a(href="/departmentLoginpage") Department] 
            
    
    block content
    block foot
        footer#footer 
            |Copyright@ 2023cgElectricity.com All Rights Reserved