doctype html
html
  head
    title electricity site
    //- block scripts
    //- block style
  body
    nav#navbar
        ul
            div#logo
            h3 now you have loggined to your account and now you can do stuff

            li #[a(href="/updatesPageForDepartment") UPDATES];
            li #[a(href="/queriesPageForDepartment") QUEURIES];
            li #[a(href="/complaintsPageForDepartment") COMPLAINTS];
            //- li #[a(href="/landingPageForUsers.pug") landing page for users ]
                //- img(src='static/glamorous-lady-dancing-clipart-xl.png')
                //- | YDA
            //- li #[a(href="/customerLoginPage") Customer] 
            //- li #[a(href="/departmentLoginpage") Department] 
            
    
    block content
    | this is department landing page page
    block foot
        footer#footer 
            |Copyright@ 2023cgElectricity.com All Rights Reserved 
        
