doctype html
html
  head
    title electricity site
    //- block scripts
    //- block style
  body
    nav#navbar
        ul
            div#logo
            h3 this is queries page for users and here users can ask about anything they want
            li #[a(href="/landingPageForusers") HOME];
            //- li #[a(href="/landingPageForUsers.pug") landing page for users ]
                //- img(src='static/glamorous-lady-dancing-clipart-xl.png')
                //- | YDA
            //- li #[a(href="/customerLoginPage") Customer] 
            //- li #[a(href="/departmentLoginpage") Department] 
            
    
    block content
    | hello customer this is queries page and please feel free to ask any queries and clera any doubts
    block foot
        footer#footer 
            |Copyright@ 2023cgElectricity.com All Rights Reserved 
        
