doctype html
html
  head
    title electricity site
    //- block scripts
    //- block style
  body
    nav#navbar
        ul
            div#logo
            h3 this is queries page for department and here department can reply to the queries of the users
            li #[a(href="/landingPageForDepartment") HOME];
            //- li #[a(href="/landingPageForUsers.pug") landing page for users ]
                //- img(src='static/glamorous-lady-dancing-clipart-xl.png')
                //- | YDA
            //- li #[a(href="/customerLoginPage") Customer] 
            //- li #[a(href="/departmentLoginpage") Department] 
            
    
    block content
    | hail INDIA this is queries page and please provide answers to users as soon as possible
    block foot
        footer#footer 
            |Copyright@ 2023cgElectricity.com All Rights Reserved 
        
